@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  font-weight: 600;
  color: red;
  text-align: center;
  margin: 10px 0;
}
:root {
  --operator: darkorange;
  --m: darkorchid;
  --c: red;
  --equal: green;
  --decimal: darkgrey;
}
.main-container {
  background: darkslategray;
  padding: 15px;
  border-radius: 10px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 7px;
}
.screen {
  margin: 25px 0;
  width: 100%;
  height: 70px;
  background: var(--decimal);
  text-align: right;
  color: red;
  border-radius: 10px;
}
.screen .privious {
  margin-right: 10px;
}

.screen .current {
  margin-right: 10px;
  margin-top: 8px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.ac {
  background: var(--c);
}

.operator {
  background: var(--operator);
}

.decimal {
  background: var(--decimal);
}
.equel {
  background: var(--equal);
}
.m {
  background: var(--m);
}

.items:hover,
items:active {
  opacity: 0.8;
}

.rights {
  background: rgb(213, 13, 13);
  color: #fff;
}

/* X-Small devices (portrait phones, less than 420px) */
@media (max-width: 419.98px) {
  * {
    font-weight: 600;
    font-size: 12px;
  }
}
